@charset "UTF-8";

body {
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
  background-color: #fff8ef;
  background-image: url(/images/subtle_white_mini_waves.png?12104a00b998ab058b6dbec0580411c6);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Fira Sans Condensed', sans-serif;
}

.shadow-box {
  -webkit-box-shadow: 4px 0 8px #999, -3px 0 6px #999;
          box-shadow: 4px 0 8px #999, -3px 0 6px #999;
  padding: 0;
}

.main_content {
  background: white;
  padding-top: 20px;
  height: 100%;
}

.navbar .container {
  background-color: white;
}

@media screen and (min-width: 768px) {
  .navbar {
    padding: 0;
  }
}

@media screen and (max-width: 767px) {
  .navbar {
    padding: 10px 15px;
  }
}

.main_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  width: 100%;
  height: 75px;
}

.main_menu li .nav-link {
  font-weight: 400;
  text-transform: uppercase;
  display: inline-block;
  height: 75px;
  line-height: 75px;
  vertical-align: center;
  position: relative;
  margin: 0;
  padding: 0;
  color: #00a79d !important;
}

@media screen and (min-width: 992px) {
  .main_menu li .nav-link {
    font-size: 28px;
  }
}

@media screen and (max-width: 991px) {
  .main_menu li .nav-link {
    font-size: 20px;
  }
}

.main_menu li .nav-link:before {
  content: '';
  position: absolute;
  height: 0;
  width: 100%;
  bottom: 0;
  left: 0;
  background: #00a79d;
  -webkit-transition: .1s;
  transition: .1s;
}

.main_menu li .nav-link:hover:before {
  height: 3px;
}

/*Calendar styles*/

#cal {
  padding: 0;
  -moz-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
  font: 13px/1.5 "Helvetica Neue", Helvatica, Arial, san-serif;
  width: 280px;
}

#cal .header {
  cursor: default;
  background: #00a79d;
  height: 34px;
  position: relative;
  color: #fff;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
}

#cal .header .button {
  width: 24px;
  height: 34px;
  text-align: center;
  position: absolute;
  line-height: 34px;
}

#cal .header .left {
  left: 0;
  top: 0;
}

#cal .header .right {
  right: 0;
  top: 0;
}

#cal .header .month-year {
  display: inline-block;
  line-height: 34px;
  letter-spacing: 1px;
  width: 100%;
  text-align: center;
}

#cal table {
  border-collapse: collapse;
}

#cal td {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #e6e6e6;
  cursor: default;
}

#cal #days td {
  height: 36px;
  line-height: 36px;
  text-transform: uppercase;
  font-size: 90%;
  color: #9e9e9e;
}

#cal #days td:not(:last-child) {
  border-right: 1px solid #fff;
}

#cal #cal-frame .today {
  background: #ededed;
  color: #8c8c8c;
  box-shadow: 1px 1px 0px #fff inset;
  -moz-box-shadow: 1px 1px 0px #fff inset;
  -webkit-box-shadow: 1px 1px 0px #fff inset;
}

#cal #cal-frame td:not(.nil):hover {
  color: #fff;
  background: #00a79d;
  -moz-box-shadow: 0px 0px 0px;
  -webkit-box-shadow: 0px 0px 0px;
}

#cal #cal-frame td span {
  font-size: 80%;
  position: relative;
}

#cal #cal-frame td span:first-child {
  bottom: 5px;
}

#cal #cal-frame td span:last-child {
  top: 5px;
}

#cal #cal-frame .curr {
  float: left;
}

#cal #cal-frame .temp {
  position: absolute;
}

/*Calendar styles*/

.clearfix:after {
  content: "";
  clear: both;
  display: table;
}

.carousel-inner {
  margin-bottom: 30px;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.03);
          box-shadow: 0 1px 6px rgba(0, 0, 0, 0.03);
  border-radius: 5px;
}

-h1-spacing {
  margin-top: 18px;
}

.form-spacing-top {
  margin-top: 30px;
}

.comment {
  margin-bottom: 35px;
}

.author-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  float: left;
}

.author-name {
  float: left;
  margin-left: 15px;
}

.author-name h4 {
  margin: 5px 0px;
}

.author-time {
  font-size: 11px;
  font-style: italic;
  color: #aaa;
}

.comment-content {
  clear: both;
  margin-left: 65px;
  font-size: 16px;
  line-height: 1.3em;
}

.comment-title {
  margin-bottom: 45px;
}

.comment-title span {
  margin-right: 10px;
}

#backend-comments {
  margin-top: 50px;
}

#auth_dropdown {
  left: -35px;
}

.profile_block {
  margin-bottom: 30px;
}

/*Widget block*/

.widget-block {
  border-left: 2px solid rgba(0, 0, 0, 0.4);
}

.widget-block > div {
  margin-bottom: 22px;
}

.widget-block .widget-title {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1;
  background: #00a79d;
  margin-bottom: 20px;
}

.widget-block .widget-title span {
  background: white;
  padding-right: 10px;
}

.widget-block #block_1 {
  font-size: 18px;
}

.widget-block #block_2 {
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.widget-block #block_2 ul {
  list-style: none;
  padding: 0;
  margin: -5px;
}

.widget-block #block_2 ul li {
  width: 50%;
  float: left;
  padding: 5px;
  /*--------Адаптивный квадртат. Формируется адаптивынй квадрат, который непонятно как работает*/
}

.widget-block #block_2 ul li .info_block {
  position: relative;
  height: 0;
  padding-bottom: 100%;
  background-color: #00a79d;
  border-radius: 4px;
  text-align: center;
  overflow: hidden;
  /*Адаптивный квадрат*/
}

.widget-block #block_2 ul li .info_block .content {
  position: absolute;
  top: 50%;
  width: 100%;
}

.widget-block #block_2 ul li .info_block i {
  display: inline-block;
}

.widget-block #block_2 ul li .info_block span {
  text-align: center;
  font-size: 12px;
  color: #fff;
  display: inline-block;
  width: 100%;
}

/*Widget block*/

.news-block .pageHeading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.news-block .pageHeading .pageHeading-title {
  margin: 0;
  font-weight: 300;
}

.news-block .pageHeading span {
  color: rgba(0, 0, 0, 0.4);
}

.news-block .pageHeading hr {
  margin-top: 0;
}

.news-block .mdContent:first-child {
  padding-top: 0;
}

.news-block .mdContent .list-item {
  padding-top: 36px;
  position: relative;
}

.news-block .mdContent .list-item:first-child {
  padding-top: 0;
}

.news-block .mdContent .list-item article {
  position: relative;
  padding: 24px;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.03);
          box-shadow: 0 1px 6px rgba(0, 0, 0, 0.03);
}

.news-block .mdContent .list-item article .post hr {
  margin: 5px 0;
}

.news-block .mdContent .list-item article .post a {
  text-decoration: none;
  color: black;
}

.news-block .mdContent .list-item article .post .post-header {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news-block .mdContent .list-item article .post .post-header span {
  color: rgba(0, 0, 0, 0.4);
}

.news-block .mdContent .list-item article .post .post-content {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  word-wrap: break-word;
  margin-bottom: 14px;
}

.news-block .mdContent .list-item article .post .post-meta {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news-block .mdContent .list-item article .post .post-meta a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1;
  vertical-align: center;
  color: #00a79d;
}

.news-block .mdContent .list-item article .post .post-meta a i {
  padding-left: 5px;
}

.news-block .mdContent .list-item article .post .post-meta span {
  display: block;
  color: rgba(0, 0, 0, 0.4);
}

/*Useful links*/

.card .btn-link {
  color: #00a79d;
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 20px;
}

.card .book-list a {
  color: #00a79d;
  position: relative;
  text-decoration: none;
  font-size: 18px;
}

.card .book-list a:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0;
  background: #00a79d;
  -webkit-transition: .2s;
  transition: .2s;
}

.card .book-list a:hover:before {
  width: 100%;
}

/*Useful links*/

/*attestation page*/

.attestation-block .category-block {
  margin-bottom: 40px;
}

.attestation-block .category-block:last-child {
  margin-bottom: 0;
}

.attestation-block .category-block div {
  margin-top: 10px;
}

.attestation-block .category-block div a {
  display: inline-block;
  margin-bottom: 10px;
}

.attestation-block .category-block div a img {
  border: 4px solid #00a79d;
  border-radius: 10px;
  width: 160px;
}

/*attestation page*/

/*contact me page*/

.contact-form-block {
  padding: 20px;
}

.contact-form-block form .button {
  display: inline-block;
  border: 2px solid #00a79d;
  background-color: white;
  color: #00a79d;
  text-transform: uppercase;
  cursor: pointer;
  padding: 5px 10px;
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
}

.contact-form-block form .button:hover {
  background-color: #00a79d;
  color: white;
}

.contact-form-block form label {
  text-transform: uppercase;
  font-size: 16px;
}

.contact-form-block form .form-control {
  border: 2px solid #00a79d;
  border-radius: 0;
}

/*contact me page*/

