$navbar_height: 60px;
$common-color: #00a79d;
$background-color: #fff8ef;
$box-shadow-color: #999;
$meta-color: rgba(0,0,0,0.4);
$attestation_photo_width: 160px;
$bottom-space: 25px;

body {
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
  background-color: #fff;
  background-image: url("../images/subtle_white_mini_waves.png");
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Fira Sans Condensed', sans-serif;
}

.main_content {
  padding: 0;
  padding-top: 20px;
  height: 100%;
}

.navbar {
  background-color: white;
  @media screen and (min-width: 992px){
    height: 60px;
    .navbar-brand {
      display: none;
    }
  }
  @media screen and (max-width: 991px) {
    padding: 10px 15px;
  }
}

.main_menu {
  @media screen and (min-width: 992px){
    height: $navbar_height;
    margin: 0;
    width: 75%;
  }
  li {
    margin-right: 5px;
    .nav-link {
      @media screen and (min-width: 992px) {
        font-weight: 400;
        text-transform: uppercase;
        display: inline-block;
        height: $navbar_height;
        line-height: $navbar_height;
        vertical-align: center;
        position: relative;
        margin: 0;
        padding: 0;
        color: $common-color !important;
        &:before {
          content: '';
          position: absolute;
          height: 0;
          width: 100%;
          bottom: 0;
          left: 0;
          background: $common-color;
          transition: .1s;
        }
        &:hover:before {
          height: 3px;
        }
        .active {
          border-bottom: 3px solid $common-color;
        }
      }
      @media screen and (min-width: 1200px) {
        font-size: 22px;
      }
      @media screen and (max-width: 1199px) {
        font-size: 18px;
      }

    }
  }
}

.auth-menu {
  &-logout{
    @media screen {
      @media (min-width: 992px) {
        .nav-link {
          display: inline-block;
          padding: 5px 10px;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px;
          margin-right: 5px;
          transition: background-color .2s ease-out;
          &:hover {
            background-color: #ededed;
          }
        }
      }
    }

  }
  &-login {
    @media screen and (min-width: 992px){
      width: 11%;
    }
  }
}

/*Calendar styles*/
#cal {
  padding: 0;
  -moz-box-shadow:0px 3px 3px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow:0px 3px 3px rgba(0, 0, 0, 0.25);
  font: 13px/1.5 "Helvetica Neue", Helvatica, Arial, san-serif;
  width: 280px;
  .header {
    cursor:default;
    background: $common-color;
    height: 34px;
    position: relative;
    color:#fff;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-weight:bold;
    text-transform: uppercase;
    .button {
      width: 24px;
      height: 34px;
      text-align: center;
      position: absolute;
      line-height: 34px;
    }
    .left {
      left: 0;
      top: 0;
    }
    .right {
      right: 0;
      top: 0;
    }
    .month-year {
      display: inline-block;
      line-height: 34px;
      letter-spacing: 1px;
      width: 100%;
      text-align: center;
    }
  }
  table {
    border-collapse: collapse;
  }
  td {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #e6e6e6;
    cursor: default;
  }
  #days {
    td {
      height: 36px;
      line-height: 36px;
      text-transform: uppercase;
      font-size: 90%;
      color: #9e9e9e;
      &:not(:last-child){
        border-right: 1px solid #fff;
      }
    }
  }
  #cal-frame {
    .today {
      background:#ededed;
      color:#8c8c8c;
      box-shadow:1px 1px 0px #fff inset;
      -moz-box-shadow:1px 1px 0px #fff inset;
      -webkit-box-shadow:1px 1px 0px #fff inset;
    }
    td {
      &:not(.nil):hover {
        color:#fff;
        background: $common-color;
        -moz-box-shadow:0px 0px 0px;
        -webkit-box-shadow:0px 0px 0px;
      }
      span {
        font-size: 80%;
        position: relative;
        &:first-child {
          bottom: 5px;
        }
        &:last-child {
          top: 5px;
        }
      }
    }
    .curr {
      float: left;
    }
    .temp {
      position: absolute;
    }
  }
}
/*Calendar styles*/

.clearfix {
  &:after {
    content: "";
    clear: both;
    display: table;
  }
}

.block-common-style {
  background-color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 15px 10px;
  margin-bottom: 20px;
}

.pages-header {
  margin-left: 0;
  margin-right: 0;
  h1,h2,h3,h4,h5,h6 {
    margin: 0;
  }
}

#carouselExampleControls {
  margin-bottom: $bottom-space;
}

.carousel-inner {
  margin-bottom: 30px;
  box-shadow: 0 1px 6px rgba(0,0,0,0.03);
  border-radius: 5px;
}

-h1-spacing{
  margin-top: 18px;
}

.author-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  float: left;
}

.author-name {
  float: left;
  margin-left: 15px;

  h4 {
    margin: 5px 0px;
  }

}

.author-time {
  font-size: 11px;
  font-style: italic;
  color: #aaa;
}

.comment-content {
  clear: both;
  margin-left: 65px;
  font-size: 16px;
  line-height: 1.3em;
}

.comment-title {
  margin-bottom: 45px;

  span {
    margin-right: 10px;
  }
}

#backend-comments {
  margin-top: 50px;
}

#auth_dropdown {
  left: -35px;
}

.profile_block {
  margin: 0;
  margin-bottom: $bottom-space;
  box-sizing: content-box;
  img {
    height: 200px;
    width: 200px;
  }
}

/*Read more link*/
.post-meta {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  a {
    display: flex;
    height: 20px;
    width: 100px;
    position: relative;
    flex-direction: row;
    align-items: center;
    line-height: 20px;
    color: $common-color;
    text-decoration: none;
    i {
      position: absolute;
      right: 0;
      top: 25%;
      margin-left: 8px;
      font-size: 12px;
      transition: all .2s;
    }
    &:hover {
      i {
        right: -3px;
      }
    }
  }
  small {
    display: block;
    color: rgba(0,0,0,0.4);
  }
}
/*Read more link*/

.gap-grid {
  display: grid;
  grid-template-columns: 68% auto;
  grid-gap: $bottom-space;
  margin: 0;
}

/*Widget block*/
.widget-block {
  padding: 15px;
  padding-top: 20px;
  background-color: #fff;
  border-radius: 5px;
  > div {
    margin-bottom: 22px;
  }
  .widget-title {
    text-transform: uppercase;
    font-size: 18px;
    line-height: 1;
    background: $common-color;
    margin-bottom: 20px;
    span {
      background: white;
      padding-right: 10px;
    }
  }
  #block_1 {
    font-size: 18px;
    padding: 0;
  }
  #block_2 {
    padding: 0;
    box-sizing: border-box;
    ul {
      list-style: none;
      padding: 0;
      margin: -5px;
      li{
        width: 50%;
        float: left;
        padding: 5px;
        /*Адаптивный квадртат.
        Нихуя непонятен принцип его создания, но работает каеф*/
        .info_block {
          position: relative;
          height: 0;
          padding-bottom: 100%;
          background-color: $common-color;
          border-radius: 4px;
          text-align: center;
          overflow: hidden;
          .content {
            position: absolute;
            top: 25%;
            width: 100%;
          }
          /*Адаптивный квадрат*/
          i {
            display: inline-block;
          }
          span {
            text-align: center;
            font-size: 16px;
            color: #fff;
            display: inline-block;
            width: 100%;
          }
        }
      }
    }
  }
}
/*Widget block*/

/*Welcome page*/
.news-block {
  background-color: #fff;
  border-radius: 5px;
  padding: 15px;
  .pageHeading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    .pageHeading-title {
      margin: 0;
      font-weight: 300;
    }
    span {
      color: $meta-color;
    }
    hr {
      margin-top: 0;
    }
  }
  .mdContent {
    &:first-child {
      padding-top: 0;
    }
    .list-item {
      padding-top: 36px;
      position: relative;
      &:first-child {
        padding-top: 0;
      }
      article {
        position: relative;
        padding: 24px;
        background: #fff;
        border: 1px solid #eee;
        border-radius: 4px;
        box-shadow: 0 1px 6px rgba(0,0,0,0.03);
        .post {
          hr {
            margin: 5px 0;
          }
          .post-header {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: space-between;
            a {
              text-decoration: none;
              color: black;
            }
          }
          .post-content {
            font-size: 16px;
            line-height: 1.5;
            font-weight: 400;
            word-wrap: break-word;
            margin-bottom: 14px;
          }
        }
      }
    }
  }
}
/*Welcome page*/

/*Blog page*/
.card-columns {
  padding: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #fff;
  @media (max-width: 767px) {
    column-count: 1;
  }
  @media (min-width: 768px) {
    column-count: 2;
  }
  .card {
    .card-body {
      .post-header {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
        a {
          text-decoration: none;
          color: black;
        }
      }
      .card-category {
        display: inline-block;
        margin-bottom: 5px;
        background-color: $common-color;
        color: white;
        font-size: 10px;
        text-transform: uppercase;
        border-radius: 10px;
        padding: 3px 7px;
      }
    }
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
/*Blog page*/

/*Useful links*/
.useful-links {
  background-color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 15px;
  .card {
    .btn-link {
      color: $common-color;
      text-transform: uppercase;
      text-decoration: underline;
      font-size: 20px;
    }
    .book-list {
      a {
        color: $common-color;
        position: relative;
        text-decoration: none;
        font-size: 18px;
        &:before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          height: 3px;
          width: 0;
          background: $common-color;
          transition: .2s;
        }
        &:hover:before {
          width: 100%;
        }
      }
    }
  }
}
/*Useful links*/

/*attestation page*/
.attestation {
  border-radius: 5px;
  background-color: #fff;
  padding: 15px;
}

.attestation-table {
  .table {
    thead {
      background-color: $common-color;
      color: #FFF;
      height: 40px;
    }
  }
}

.categories-tabs {
  a {
    background-color: #fff;
    color: $common-color;
    font-size: 18px;
  }
  .active {
    background-color: $common-color !important;
    color: white !important;
  }
}

.category {
  .card-header {
    a {
      color: $common-color;
      text-decoration: underline;
      font-weight: 300;
    }
  }
  h5 {
    max-width: 100%;
  }
}

.tab-pane {
  padding: 0;
}

.attestation-block {
  .category-block {
    margin-bottom: 40px;
    &:last-child {
      margin-bottom: 0;
    }
    div {
      margin-top: 10px;
      a {
        display: inline-block;
        margin-bottom: 10px;
        img {
          width: $attestation_photo_width;
        }
      }
    }
  }
}

/*Popup Table (lesson 1)*/
.lessons-tasks {
  padding-left: 0;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 1440px;
  }
}

.table-lesson {
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.td-1 {
  width: 20%;
}

.td-2 {
  width: 60%;
}
.td-3 {
  width: 20%;
}

#relax-list {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    &:nth-of-type(even) {
      margin-left: 7px;
    }
  }
}
/*Popup Table (lesson 1)*/
#carousel {
  margin-top: 15px;
}
/*attestation page*/

/*contact me page*/
.contact-form-block {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px 0 40px 0;
  form {
    margin: 0 auto;
    width: 400px;
    .button {
      display: inline-block;
      border: 2px solid $common-color;
      background-color: white;
      color: $common-color;
      text-transform: uppercase;
      cursor: pointer;
      padding: 5px 10px;
      transition: background-color .5s;
      &:hover {
        background-color: $common-color;
        color: white;
      }
    }
    label {
      text-transform: uppercase;
      font-size: 16px;
    }
    .form-control {
      border: 2px solid $common-color;
      border-radius: 0;
    }
  }
}
/*contact me page*/

.index_post_header {
  h1 {
    margin: 0;
  }
  .col-md-2 {
    display: flex;
    a {
      margin: auto;
    }
    form {
      display: flex;
      width: 100%;
      input[type=submit] {
        margin: auto;
      }
    }
  }
}

.well {
  input[type=submit] {
    margin-top: 10px;
  }
}
